* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #eaeded;
}
.MuiSvgIcon-root {
  color: black;
}
.cart-icon {
  color: white;
}
.location-icon {
  color: white;
}
